*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', 'roboto';
}

/* Navbar Start */
#navbar{
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ff0000;
}
.navbar-toggler span{
    color: #ff0000;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 1.0s ease;
}
.nav-item .nav-link:hover{
    background: #ff0000;
    color: white;
}
#navbar form button{
    background: rgb(255, 0, 0);
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    width: 50%;
    height: 450px;
    background-position: center; 
    margin-left: 25%;
    background-image: url(images/logo\ winterhall.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 50px;
    margin-bottom: 40px;
}
.changecontent::after{
    content: ' ';
    color: #ff0000;
    text-shadow: 0px 1px 1px black;
    animation: changetext 20s infinite linear;
}
@keyframes changetext{
    0%{content: "Instagram @winterhall.palmerah";}
    10%{content: "WhatsApp : 089630604754";}
    20%{content: "Location : Paal Merah, Jambi";}
    30%{content: "Instagram @winterhall.palmerah";}
    40%{content: "WhatsApp : 089630604754";}
    50%{content: "Location : Paal Merah, Jambi";}
    60%{content: "Instagram @winterhall.palmerah";}
    70%{content: "WhatsApp : 089630604754";}
    80%{content: "Location : Paal Merah, Jambi";}
    90%{content: "Instagram @winterhall.palmerah";}
    100%{content: "WhatsApp : 089630604754";}
} 
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #ff0000;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ff0000;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ff0000;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */

/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ff0000;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ff0000;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ff0000;
    color: white;
    border-radius: 5px;
}
/* Section Packages End */




/* Section Services Start */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #ff0000;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}
/* Section Services End */





/* Section Gallery Start */
.gallery{
    margin-top: 50px;
}
.gallery .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
}
.gallery .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallery .card img:hover{
    transform: scale(1.1);
}
/* Section Gallery End */




/* Rules Start */
.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
    height: 400px;
    transition: 0.5s;
}
.about .card img:hover{
    transform: scale(1.1);
}
.about p{
    font-weight: 1000;
    font-size: large;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ff0000;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* Rules End */




/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ff0000;
}
#footer h2 {
    font-size: 18px;
}
#footer p {
    font-size: 20px;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ff0000;
}
.footer_content
{
	padding-bottom: 52px;
}
.footer_title{
    font-size: 18px;
	font-weight: 700;
	color: #393939;
	line-height: 1.2;
}
.footer_list{
    margin-top: 9px;
}
.footer_list ul li {
    font-size: 15px;
	font-weight: 500;
	color: #6d6d6d;
	line-height: 2;
}
.footer_list1 ul li {
    font-size: 15px;
	font-weight: 500;
	color: #6d6d6d;
	line-height: 2;
    text-align: justify;
}
.certificates {
    padding-left: 12px;
	padding-top: 10px;
}
.cert
{
	margin-bottom: 30px;
}
/* Footer End */


